:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --darker-blue: hsl(217, 45%, 15%);
  --space-cadet: hsl(238, 35%, 15%);
  --light-space-cadet: hsl(238, 35%, 40%);
  --background-green: hsl(125, 90%, 30%);
  --button-green: hsl(125, 30%, 60%);
  --background-black: hsl(0, 0%, 0%);
  --background-purple: hsl(300, 50%, 55%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  display: flex;
  color: var(--space-cadet);
  background-color: var(--background-purple);
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  padding-inline-start: min(10vw, 10rem);
  padding-block: 5svh;
}

header h1 {
  font-size: clamp(5rem, 14vw, 12rem);
}

header p {
  margin: 0 0 1rem 0;
}

header button {
  font-family: inherit;
  border: 0;
  line-height: 3;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: var(--light-gray);
  background-color: var(--space-cadet);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

header button:hover {
  background-color: var(--grayish-blue);
  color: var(--darker-blue);
}

header button:active {
  background-color: var(--light-space-cadet);
  color: var(--light-gray);
}

.fa-spotify {
  color: var(--light-gray);
  font-size: 1rem;
}

main {
  flex: 1;
  background-color: var(--space-cadet);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  color: var(--light-gray);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
}

.home-page {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-inline-start: min(10vw, 10rem);
  margin: auto 0;
  gap: 1rem;
  padding-block-start: clamp(0.5rem, 3.568rem + -3.409vw, 2.75rem);
}

.steps {
  margin-inline-start: 1.625rem;
  display: grid;
  row-gap: 1rem;
}

.steps + p {
  font-weight: 700;
}

main button {
  border: 0;
  line-height: 3;
  padding: 0 2rem;
  border-radius: 0.5rem;
  color: var(--background-black);
  background-color: var(--button-green);
  display: flex;
  align-items: center;
  gap: 1rem;
}

main section {
  scroll-snap-align: start;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

footer {
  font-family: 'Outfit', sans-serif;
  color: var(--light-gray);
  background-color: var(--space-cadet);
  display: flex;
  padding-inline: min(10vw, 10rem);
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  font-size: 0.75rem;
  width: 100%;
  flex-wrap: wrap;
}

footer a:nth-child(2) {
  margin-inline-start: auto;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: var(--light-gray);
}

ion-icon {
  font-size: 24px;
}


@media screen and (max-width: 480px) {
  body {
    flex-direction: column;
  }

  header {
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    height: 50%;
  }

  .home-page {
    font-size: 1.5rem;
    justify-content: space-around;
    padding-inline-end: min(10vw, 10rem);
    row-gap: 2rem;
  }

  .home-page section{
    margin: 0 1rem;
    min-height: auto;
  }

  .steps {
    row-gap: 2rem;
  }
}