:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --darker-blue: hsl(217, 45%, 15%);
    --space-cadet: hsl(238, 35%, 15%);
    --light-space-cadet: hsl(238, 35%, 40%);
    --background-green: hsl(125, 90%, 30%);
    --button-green: hsl(125, 30%, 60%);
    --background-black: hsl(0, 0%, 0%);
    --background-purple: hsl(300, 50%, 55%);
}

html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

body {
min-height: 100vh;
display: flex;
flex-direction: row;
align-items: stretch;
}

header {
    display: flex;
    color: var(--space-cadet);
    background-color: var(--background-purple);
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
}

header h1 {
    /* font-size: min(20vw, 5rem); */
    font-size: clamp(2rem, 13vw, 5rem);
}

header p {
    margin: 0 0 1rem 0;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

header button {
    font-family: inherit;
    border: 0;
    line-height: 3;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    color: var(--light-gray);
    background-color: var(--space-cadet);
    display: none;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

header button:hover {
    background-color: var(--grayish-blue);
    color: var(--darker-blue);
}

header button:active {
    background-color: var(--light-space-cadet);
    color: var(--light-gray);
}

.fa-spotify {
    color: var(--light-gray);
    font-size: 1rem;
}

main {
    flex: 1;
    background-color: var(--space-cadet);
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    color: var(--light-gray);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    height: 100svh;
}

main button {
    border: 0;
    line-height: 3;
    padding: 0 2rem;
    border-radius: 0.5rem;
    color: var(--background-black);
    background-color: var(--light-gray);
    align-items: center;
}

main section {
    scroll-snap-align: start;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.log-out {
    display: none;
    position: absolute;
    z-index: 1;
}

.log-out button {
    position: relative;
    top: 3rem;
    margin: auto;
    z-index: 1;
    display: block;
}

.show {
    display: block;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    margin-top: auto;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.app {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    flex: 1;
    align-items: center;
}

.instructions-wrapper {
    margin: 0 auto;
    flex-shrink: 1;
    flex-grow: 0.2;
    display: flex;
    align-items: end;
    width: min(80%, 577px);
}

.instructions {
    margin: 0 auto;
    /* padding-top: 15svh; */
    font-size: clamp(1.5rem, 5vw, 2rem);
    text-align: center;
}

.app form {
    margin: 0 auto;
    display: flex;
    row-gap: 2rem;
    column-gap: 1rem;
    flex-direction: column-reverse;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.app button {
    margin-left: 1rem;
}

form button {
    margin: 0 auto;
}

.app input {
    font-family: inherit;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: var(--grayish-blue) 2px solid;
    padding: 0.5rem;
    width: min(458px, 80svw);
} 

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
}

form .button-wrapper {
    flex-wrap: nowrap;
}

.app button {
    font-family: inherit;
    width: fit-content;
}

.app .shuffle-button {
    background-color: var(--button-green);
}

.app .less-playlists {
    background-color: red;
}

.profile-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
    padding: 1rem;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.photo-wrapper {
    overflow: hidden;
    aspect-ratio: 1;
    width: 45px;
}

.profile-photo {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}

.album-art {
    border-radius: 50%;
    object-fit: cover;
    width: 64px;
    height: 64px;
    aspect-ratio: 1;
    margin: auto 0;
    margin-right: 0.5rem;
}

.track-list {
    max-height: 60svh;
    overflow-y: scroll;
}

.card {
    background-color: var(--light-space-cadet);
    width: min(90%, 35rem);
    min-height: 8.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    display: flex;
    border-radius: 5px;
}

.card .card-textContent {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.45rem;
}

.card h3 {
    font-size: clamp(1rem, 0.958rem + 0.269vw, 1.2rem);
}

.card p {
    font-size: 1rem;
}

.card-textContent a {
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

.card-textContent button {
    margin: 0;
    font-size: clamp(0.75rem, 0.557rem + 0.909vw, .9rem);
    max-width: 20rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 0.5rem;
    color: var(--space-cadet);
    border: 1px solid transparent;
}

.card-textContent button:hover {
    cursor: pointer;
    border: 1px solid var(--background-purple);
}

.card-textContent button img {
    width: 1.5rem;
}

.app .reshuffle-button, 
.app .create-playlist-button,
.app .add-to-queue-button {
    width: 15rem;
    padding-left: 1rem;
}

.create-playlist-button {
    background-color: var(--button-green);
}

footer {
    font-family: 'Outfit', sans-serif;
    color: var(--light-gray);
    background-color: var(--space-cadet);
    display: flex;
    padding-inline: min(10vw, 10rem);
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    font-size: 0.75rem;
    width: 100%;
    flex-wrap: wrap;
}

footer a:nth-child(2) {
    margin-inline-start: auto;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: var(--light-gray);
}

ion-icon {
    font-size: 24px;
}

@media screen and (max-width: 1280px) {
    body {
        flex-direction: column;
    }
    
    header {
        width: 100%;
        padding: 1rem 0;
        align-items: center;
        height: 50%;
    }

    .home-page {
        font-size: 1.5rem;
        justify-content: space-around;
        padding: 1rem 0 3rem 0;
    }

    .home-page section{
        margin: 0 1rem;
        min-height: auto;
    }

    .home-page:last-child {
        text-align: center;
    }

    .instructions {
        padding-top: 0;
    }

    .app {
        padding: 1rem 2rem 3rem 2rem;
        font-size: 1rem;
        align-items: center;
    }

    .button-wrapper button {
        width: 30%;
        padding: 0;
    }
}

@media screen and (max-width: 770px) {
    .log-out {
        position: relative;
    }

    .log-out button {
        top: 0;
    }
}

@media screen and (max-width: 480px) {
    form .button-wrapper {
        flex-direction: column;
    }

    form .button-wrapper button {
        margin: auto;
        width: min(100%, 10rem);
    }
}


@media screen and (max-width: 480px) {
    .card {
        min-height: 10rem;
    }
}